@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 0.25px;
}

html,
body,
#root {
  font-family: "Inter", sans-serif;
  @apply scroll-smooth antialiased dark:bg-gradient-to-t dark:from-gray-950 dark:to-gray-950 dark:text-white;
}

#root {
  display: grid;
  grid-template-columns: 1fr min(100%) 1fr;
  grid-template-rows: 1fr minmax(calc(100vh - 50px), auto) 1fr;
}
#root > * {
  grid-column: 2;
}
