@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap"); LOGO FONT */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 0.25px;
}

html,
body,
#root {
  font-family: "Inter", sans-serif;
  @apply w-full scroll-smooth antialiased dark:bg-gradient-to-t dark:from-gray-950 dark:to-gray-950 dark:text-white;
}
